.index-body {
    width: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.github-tag {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    z-index: 999;
    cursor: pointer;
}

.image {
    background-image: url('./backgroundImage.jpeg');
    position:absolute;
    top: 0; 
    left: 0;
    width: 100vw;
    background-size: cover;
    height: 100%;
}


@media ( max-width: 994px ) {
    .index-body {
        width: 100%;
    }
}